body{
    background-color: hsla(0, 0%, 0%, 0.9);
}
.to-do-list {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
h1 {
    font-size: 4em;
    color: white;
}
button {
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.add-button {
    background-color: hsl(109, 100%, 50%);
}
.add-button:hover {
    background-color:  hsl(120, 100%, 28%);
}
.delete-button {
    background-color: rgb(255, 0, 30);
}
.delete-button:hover {
    background-color: rgb(153, 0, 18);
}
.move-button {
    background-color: hsla(59, 100%, 50%, 0.8);
}
.move-button:hover {
    background-color: hsla(59, 100%, 40%, 0.9);
}
input[type="text"] {
    font-size: 1.6em;
    border: 1px solid hsla(0, 0%, 50%, 0.606);
    border-radius: 5px;
    padding: 10px;
    color: hsla(0, 0%, 35%, 0.906);
}
ol {
    padding: 0;
}
li {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 15px;
    background-color: hsla(0, 0%, 90%, 0.5);
    border: 1px solid hsla(0, 0%, 70%, 0.5);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.text {
    flex: 1;
}
.delete-button, .move-button {
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}
.add-button {
    margin-left: 10px;
}









